{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEV</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <script src="{% static 'scripts/dev_confirm.js' %}"></script>
    <script src="text_script.js"></script>
 <article>
  <h1>Grandmaster</h1>
</article>
    <div id="particles-js"></div>
    <script src="{% static 'scripts/particles.js' %}"></script>
    <script src="{% static 'scripts/app.js' %}"></script>
    <canvas id="canvas1"></canvas>


    <script src="{% static 'scripts/script.js' %}"></script>

    <p class="text-main">Верховный основатель Архива и его хранитель. Повелитель библиотек и !important`ов. Добрый и хороший, управляет темными и светлыми силами.
    <br>~ Я не играю в игру. Я пишу для нее правила.</br>
    </p>


  </body>
</html>
