{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEV</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-r.css' %}">
  </head>
  <body>
    <script src="{% static 'scripts/dev_confirm.js' %}"></script>
    <script src="text_script.js"></script>
 <article>
  <h1>FynnFu</h1>
</article>
    <div id="particles-js"></div>
    <script src="{% static 'scripts/particles.js' %}"></script>
    <script src="{% static 'scripts/app.js' %}"></script>
    <canvas id="canvas2"></canvas>



    <script src="{% static 'scripts/script2.js' %}"></script>
    <p class="text-main">Главный разработчик архива и его (<s>GAY</s>)BACKEND`ер. Не может поменять цвет у текста. Нагловат и борзоват, заведует всем, что криво работает.
    <br>~ Ты можешь многое, но я больше.</br>
    </p>


  </body>
</html>
